
.closeTodoButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  /* cursor:pointer; */
  overflow: hidden;   
  opacity: 70%;
  padding-right: 0px;
}

.todoName {
  text-align: left;
  cursor: text;
  max-width: 85%;
  min-width: none;
  white-space: initial;
  /* border: 2px solid red; */
  line-height: 16px;

}

#todos-box {
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 3px;
  height: 150px;
  overflow: auto; /* Enable scroll bars when content overflows the box */
}

#empty-new-todo-button{
  margin-top: 20px
}


#edit-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#edit-cancel-button {
  margin-right: 4px;
}

#todo-buttons {
  /* border: 2px solid red; */
  margin-left: 6%;
}

#all-todos {
  position: relative;
  /* border: 2px solid red; */
  height: 410px;
  /* height:350px; */
}

#todos-box{
  /* height: 250px; */
  overflow: auto; /* Enable scroll bars when content overflows the box */
}

.add-todo-button-box{
  position: absolute;
  bottom: 0;
  width: 93%;
}

#todo-container {
  position: relative;
}


.complete-status-title {
  text-align: left;
}
