.list-name {
  text-align: center;
  cursor: text;
  
}

#edit-error {
  color: red
}

#edit-buttons {
  margin-top: 15px;
}

#submit-edit-button {
  margin-right: 3px;
}

#lists {
  /* border: 2px solid green; */
  border-radius: 4px;
  /* border: 2px solid red */
}

#add-button {
  margin-top: 5%;
}