#title {
  padding: 1%;
  /* border: 2px solid red */
}

#container {
  margin: 0 auto;
  /* padding-top: 3%; */
  /* width: 80%; */


}

#left-col {
  /* height: 80vh;
  max-width: 50vw; */
  /* border: 2px solid red */
  /* position: inherit; */
float:left;
width: 50%;
}

#right-col {
width: 50%;
float: right;

}

#todoListContainer {
  max-width: 400px;
  
}

#todosContainer {
  max-width: 400px;
}

#lists-todos {

}